{{ define "main" }}

<main class="blog-content">
    <div class="container-md">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 px-lg-4">
                <h1 class="title">{{ .Title | title }}</h1>

                {{ with .Page.Params.image }}
                    {{ if or (hasPrefix . "http://") (hasPrefix . "https://") }}
                        <figure>
                            <img id="cover-image" src={{ . }} alt="{{ $.Title }}">
                        </figure>
                    {{ else }}
                        <figure>
                            {{ $image := $.Page.Resources.GetMatch . }}
                            <img id="cover-image" src={{ $image.RelPermalink }} alt="{{ $.Title }}">
                        </figure>
                    {{ end }}
                {{ end }}

                {{ .Content }}
            </div>
        </div>
    </div>
</main>

{{ end }}