{{ define "main" }}

<main class="bg-offwhite">
    <div class="container-md">
        <div class="row">

            {{ $paginator := .Paginate .Pages.ByTitle 9 }}

            <h1 class="section-title">
                {{ .Title }} - (Page {{ $paginator.PageNumber }}/{{ $paginator.TotalPages }})
            </h1>

            {{ range $paginator.Pages }}
            {{ partial "suggestion-section.html" . }}
            {{ end }}

            <div class="text-center">
                {{- template "_internal/pagination.html" . -}}
            </div>
        </div>
    </div>
</main>

{{ end }}