.blog-content {
    min-height: 70vh;
    padding-bottom: 1rem;
    font-family: sans-serif;
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.82);
    line-height: 1.7;
    background-color: white;

    h2,h3,h4,h5,h6 {
        margin-top: 1.5rem;
        font-weight: 600;
    }

    .title {
        margin-top: 2rem;
        margin-bottom: 0.7rem;
        font-weight: 600;
    }

    p+p {
        margin-top: 1.5em;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 25rem;
        max-width: 100%;
    }

    img + em {
        display: block;
        text-align: center;
    }

    #cover-image {
        margin-top: 0.5em;
        margin-bottom: 1.5em;
    }

    .date-time {
        font-size: 1rem;
        font-size: 0.9rem;
    }

    .tags {
        text-align: right;
        font-size: 0.9rem;

        .tag {
            padding: 0 1rem;
        }

        @media (max-width:767px) {
            margin-top: 1rem;
            text-align: left;
        }
    }

    /**** For codes ****/
    .highlight pre {
        padding: 0.5rem 1rem;
        font-size: 1rem;

        kbd {
            background-color: $dark;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 4px;
        }
    }

    blockquote {
        background-color: #f5f5f5;
        border-left: 5px solid #dbdbdb;
        padding: 1.25em 1.5em;

        p {margin-bottom: 0;}
    }
}