{{ define "main" }}

<div class="container-md">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 px-lg-4">
            <div class="text-center">
                <h1 class="mt-4">Admin Panel</h1>

                {{ $total_articles := len (where .Site.RegularPages "Section" "not in" "Admin") }}
                {{ $total_tags := len ($.Site.GetPage "taxonomyTerm" "tags").Pages }}
                {{ $total_sections := len (where (where .Site.Pages "Kind" "section") ".Title" "not in" "Posts Admin Sections") }}

                <div class="pt-4">
                    <h3 class="title is-3">Total articles:</h3>
                    <h2 class="subtitle is-2">{{ $total_articles }}</h2>
                </div>
                <div class="pt-4">
                    <h3 class="title is-3">Total tags:</h3>
                    <h2 class="subtitle is-2">{{ $total_tags }}</h2>
                </div>
                <div class="pt-4">
                    <h3 class="title is-3">Total sections:</h3>
                    <h2 class="subtitle is-2">{{ $total_sections }}</h2>
                </div>
            </div>

            <h2>Sections Summary</h2>
            <table class="table">
                <tr>
                    <th>No.</th>
                    <th>Section</th>
                    <th>Total articles</th>
                </tr>
                <tr>
                    <td>1</td>
                    {{ $postsLen := len (where .Site.RegularPages ".Section" "==" "posts") }}
                    <td><a href="{{ "/posts/" | relURL }}">Posts</a></td>
                    <td>{{ $postsLen }}</td>
                </tr>

                {{ $all_subection_pages := slice "" }}
                {{range (.Paginate ( where .Site.RegularPages "Type" "sections") 10000).Pages}}
                    {{ $all_subection_pages = $all_subection_pages | append .Parent }}
                {{ end }}

                {{ $sections := where (where .Site.Pages "Kind" "section") "Title" "not in" "Posts Admin Sections" }}

                {{ $index := 2}}
                {{ range sort $sections "Title" }}
                    {{ $pages_len := len (where $all_subection_pages "Title" "==" .Title )}}
                    <tr>
                        <td>{{ $index }}</td>
                        {{ $index = add $index 1}}
                        <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
                        <td>{{ $pages_len }}</td>
                    </tr>
                {{ end }}

                <tr>
                    <td></td>
                    <td>Total</td>
                    <td>{{ $total_articles }}</td>
                </tr>

            </table>

            <h2>Tags Summary</h2>
            <table class="table">
                <tr>
                    <th>No.</th>
                    <th>Tags</th>
                    <th>Total articles</th>
                </tr>
                {{ $index := 1}}
                {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                <tr>
                    <td>{{ $index }}</td>
                    {{ $index = add $index 1}}
                    <td><a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a></td>
                    <td>{{ len $taxonomy }}</td>
                </tr>
                {{ end }}
            </table>

            {{ $drafts := where .Site.RegularPages ".Draft" "==" true }}
            {{ if $drafts }}
            <h2>Drafts Summary</h2>
            <ol>
                {{ range $drafts }}
                <li>{{ .Title }}</li>
                {{ end }}
            </ol>
            {{ end }}
        </div>
    </div>
</div>


{{ end }}