<header id="header">
  <div class="top-bar">
    <div class="container-md">

      <div class="row align-items-center">
        <div class="col-3 col-sm-4 social-buttons d-none d-sm-block">
          {{ partial "social-media-presence.html" . }}
        </div>

        <div class="ra-toggler col-3 col-sm-4 d-block d-sm-none">
          <button class="bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <i class="fas fa-bars"></i>
          </button>
        </div>

        <div class="col-6 col-sm-4">
          <h2 class="title"><a href="{{ "/" | relURL }}">{{ .Site.Title }}</a></h2>
        </div>

        {{ if .Site.Params.GoogleSearch }}
        <div class="col-3 col-sm-4">
          <div class="col col-md-8 offset-md-4 d-none d-sm-block">
            <form id="cse-search-box-form-id" class="input-group search-bar" onsubmit="return executeQuery('lg');"
              role="search">
              <input id="cse-search-input-box-id" type="text" class="form-control" placeholder="Search">
              <button class="btn" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </form>
          </div>
        </div>
        {{ end }}

      </div>
    </div>
  </div>

  <div class="container-md">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">

          <li class="nav-item d-block d-sm-none">
            <ul class="social-buttons">
              {{ partial "social-media-presence.html" . }}
            </ul>
          </li>

          {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
              {{ .Name }}
            </a>
            <div class="dropdown-menu">
              {{ range .Children }}
              {{ if eq .Name "divider" }}
                <div class="dropdown-divider"></div>
              {{ else }}
                <a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a>
              {{ end }}
              {{ end }}
            </div>
          </li>
          {{ else }}
          <li class="nav-item">
            <a class="nav-link 
              {{ if eq .URL $.RelPermalink }}
              active {{ $.RelPermalink }}
              {{ end }}
              " 
              href="{{ .URL }}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
          {{ end }}
        </ul>

        {{ if .Site.Params.GoogleSearch }}
        <form id="cse-search-box-form-id2" class="d-flex search-bar d-block d-sm-none"
          onsubmit="return executeQuery('xs');" role="search">
          <input id="cse-search-input-box-id2" type="text" class="form-control" placeholder="Search">
          <button class="btn" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </form>
        {{ end }}

      </div>
    </nav>
  </div>
</header>