<ul>
    {{ with .Site.Params.Facebook }}
    <li>
        <a href="{{ . }}" target="_blank">
            <i class="fab fa-facebook"></i></a>
    </li>
    {{ end }}

    {{ with .Site.Params.Twitter }}
    <li>
        <a href="{{ . }}" target="_blank">
            <i class="fab fa-twitter"></i></a>
    </li>
    {{ end }}

    {{ with .Site.Params.Youtube }}
    <li>
        <a href="{{ . }}" target="_blank">
            <i class="fab fa-youtube"></i></a>
    </li>
    {{ end }}

    {{ with .Site.Params.Instagram }}
    <li>
        <a href="{{ . }}" target="_blank">
            <i class="fab fa-instagram"></i></a>
    </li>
    {{ end }}

    {{ with .Site.Params.Github }}
    <li>
        <a href="{{ . }}" target="_blank">
            <i class="fab fa-github"></i></a>
    </li>
    {{ end }}

    {{ with .Site.Params.Pinterest }}
    <li>
        <a href="{{ . }}" target="_blank">
            <i class="fab fa-pinterest"></i></a>
    </li>
    {{ end }}

    {{ with .Site.Params.Linkedin }}
    <li>
        <a href="{{ . }}" target="_blank">
            <i class="fab fa-linkedin"></i></a>
    </li>
    {{ end }}

</ul>