{{ define "main" }}

<div id="featured">
    <div class="container-md">
        <div class="row">
            <div class="featured-posts">
                {{ $featured := first 3 (where .Site.RegularPages.ByPublishDate.Reverse ".Section" "in" (slice "posts" "sections")) }}
                {{ range $i, $feat:=  $featured }}
                {{ partial "featured-post.html" (dict "context" . "index" $i) }}
                {{ end }}
            </div>
        </div>
    </div>
</div>

<div class="bg-offwhite py-5">
    <div class="container-md">
        <div class="row">

            {{ partial "ads.html" "ads/horizontal-ad.js" }}

            {{/* $filteredPosts := where (where .Site.Pages "Type" "blog") "UniqueID" "!= ".UniqueID }}
            {{ $relatedPosts := shuffle $filteredPosts | first 3 */}}

            {{ $latestPosts := where .Site.RegularPages ".Section" "in" (slice "posts" "sections") }}
            {{ $latestPosts = $latestPosts | symdiff $featured}}
            {{ $latestPosts = $latestPosts.ByDate.Reverse | first 6 }}

            {{ range $latestPosts }}
            {{ partial "suggestion.html" . }}
            {{ end }}
        </div>
    </div>
</div>

{{ if gt .Sections 0 }}
<div class="bg-offwhite pb-5 pt-1">
    <div class="container-md">
        <h2 class="section-title">
            <a href={{ "/sections/" | relURL }}>Sections</a>
        </h2>

        <div class="row">
            {{ $allPages := where .Site.Pages "Section" "sections" }}
            {{ $contentPages_and_section := where .Site.RegularPages "Section" "sections" }}
            {{ $contentPages := symdiff $allPages $contentPages_and_section }}

            {{ $sections := where $contentPages "Title" "!=" "Sections" }}

            {{ $sections := $sections.ByDate.Reverse | first 3 }}

            {{ range $sections }}
                {{ if ne .Title "Sections" }}
                {{ partial "suggestion-section.html" . }}
                {{ end }}
            {{ end }}
        </div>

        {{ partial "ads.html" "ads/horizontal-ad.js" }}
    </div>
</div>
{{ end }}


{{ end }}